<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            <?php
                print TITLE;
            ?>
        </title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/final_project.css">
    </head>
    <body>
        <!-- HEADER START -->
        <header class="header">
            <h1>
                JADYN'S RECIPE LOCKER
            </h1>
        </header>
        <!-- HEADER END -->